.cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
}
.card{
    display: flex;
        border: 1px solid green;
        flex-direction: column;
        margin-bottom: 10px;
        background: "#ccc";
        border-radius: 8px;
        padding: "0px 0 0 0";
        justify-content: space-between;
}

.card:hover{
    transform: skew(10deg, 0.8deg);
    font-weight: bold;
}

