.cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2vw;
    margin: 5vh 15vw;
}

.card{
        display: flex;
        border: 1px solid #151f30;
        flex-direction: column;
        margin-bottom: 10px;
        background: #151f30;
        border-radius: 8px;
        padding: 0px 0 0 0;
        justify-content: space-between;
        transition: all ease 0.6s;
        box-shadow: 0 0 3px black;
        min-height: 20vw;
}

.card:hover{
    font-weight: bold;
    margin-top: -5px;
}

@media only screen and (max-width: 768px){

    .cards{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 2vw;
    }
    .card{
        min-height: 37vw;
    }
}


